body
	padding-top: 60px
	

	

h1.pageTitle
	font-family: 'Monsieur La Doulaise', cursive
	font-size: 112px
	@media screen and (max-width: 480px)
		font-size: 64px
	
	vertical-align: bottom
	margin-bottom: 48px
	img
		padding-right: 16px
		height: 148px
		@media screen and (max-width: 480px)
			height: 96px
		


.modal-dialog
	z-index: 99999

.functions
	width: 100%
	td 
		padding: 4px
.navbar-header
	.logo
		height: 52px
		float: left
		padding-right: 8px