body
	padding-top: 60px
	background-image: url(/bg.png)
	

	

h1.pageTitle
	font-family: 'Monsieur La Doulaise', cursive
	font-size: 112px
	@media screen and (max-width: 480px)
		font-size: 64px
	
	vertical-align: bottom
	margin-bottom: 48px
	img
		padding-right: 16px
		height: 148px
		@media screen and (max-width: 480px)
			height: 96px
.clear
	clear: both	
.jumbotron
	background-color: white

.modal-dialog
	z-index: 99999

.functions
	width: 100%
	td 
		padding: 4px
.navbar-header
	.logo
		height: 52px
		float: left
		padding-right: 8px
.onePlot
	.panel-heading
		position: relative
		.btn-delete
			position: absolute
			right: 10px
			top: 9px
	.autoform-array-item .form-group label
		display: none;
	
.engineControls
	.buttons
		float: left
	.time
		float: right
.loading
	text-align: center
	img 
		width: 275px

*[data-toggle="collapse"]
{
	cursor: row-resize
}
