body
	padding-top: 60px
	background-image: url(/bg.png)
	min-height:100%

html.nightMode
	-webkit-filter: invert(1);

a
	cursor: pointer;	

h1.pageTitle
	font-family: 'Monsieur La Doulaise', cursive
	font-size: 112px
	@media screen and (max-width: 480px)
		font-size: 64px
	
	vertical-align: bottom
	margin-bottom: 48px
	img
		padding-right: 16px
		height: 148px
		@media screen and (max-width: 480px)
			height: 96px

// bootstrap fix
#login-dropdown-list
	
	list-style: none;
	.dropdown-menu
		li
			padding-bottom: 4px
			a
				padding: 0px
				.btn
					width:100%
	
.clear
	clear: both	
.jumbotron
	background-color: white
#main-container
	margin-bottom:120px
.modal-dialog
	z-index: 99999

.functions
	width: 100%
	td 
		padding: 4px
.navbar-header
	.logo
		height: 52px
		float: left
		padding-right: 8px

.experimentEditor 
	position: relative
	.right
		position: absolute
		right: 10px
		top: 24px
	
.engineControls
	.buttons
		float: left
	.time
		float: right
.loading
	text-align: center
	img 
		width: 275px

.navbar .engineControls, .navbar .experimentControls
	float: left

	margin-top: 8px
	margin-right: 16px
	.time
		color: white
		padding-left: 8px
		padding-top: 8px 
	.btn
		border-style: dashed
		background-color:transparent

*[data-toggle="collapse"]
{
	cursor: row-resize
}


